<div style="display: flex;">
  <div style="display: flex; flex-direction: row; width: 300px;">
    <p>State: </p> <select (change)="changeState($event)" style="height: 30px; align-self: center;">
      <option>Choose State</option>
      <option *ngFor="let state of stateData">{{state}}</option>
    </select>
  </div>
  <p> </p>
  <div style="display: flex; flex-direction: row; width: 300px;">
    <p>Top N Plants: </p> <select (change)="changeTopState($event)" style="height: 30px; align-self: center;">
      <option>Choose Top Plants</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="7">7</option>
    </select>
  </div>
</div>
<p> </p>
<google-map height="800px" width="100%" [zoom]="zoom" [center]="center">
  <map-marker #somemarker="mapMarker" *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
    [title]="marker.title" [options]="marker.options" (mapClick)="openInfo(somemarker, marker)">
  </map-marker>
  <map-info-window>
    <p>{{ infoContent.title }} ({{ infoContent.state }})</p>
    <p>{{ infoContent.netGeneration }} (MWh) ({{ infoContent.percentage }} %)</p>
  </map-info-window>
</google-map>

<!-- Use custom zoom buttons -->
<button (click)="zoomIn()">Zoom in</button>
<button (click)="zoomOut()">Zoom out</button>